version: '3.7'

services:
  steamrep:
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - '4001:4001'
    environment:
      - NODE_ENV: production
  db:
    container_name: postgres
    image: postgres:15.2
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - 5433:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - steamrep-backend

volumes:
  postgres_data:

networks:
  steamrep-backend:
